<div class="row" style="height: 100%;">

    <div class="row">
        <div class="col-lg-6" id="sidebar">
            <span>Logs</span>
        </div>
        <div class="col-lg-18" id="main">
            <span style="position:absolute;right:40px;color: #fff;">Admin</span>
        </div>
    </div>

    <div class="row" style="height: 94%;">
        <div class="col-lg-6" id="logsStructure">
            <div class="col-lg-24" id='innerSidebar'>
                <div ng-init="displayFolders()">
                    <span>Log Files</span>
                </div>
                <ol type  = 1>
                    <li ng-repeat="folder in foldersName">
                        <a ui-sref=".folders.files" ng-click="displayFileNames(folder,$index);showFiles()">
                            <span id="subFolder">{{folder}}</span>
                        </a>
                        <ol type  = 1>
                            <li ng-repeat="file in fileNames" ng-show="index === $parent.$index">
                                <a ui-sref=".folders.files.fileData" ng-click="displayFileData(file)">
                                    <span id="file">{{file}}</span>
                                </a>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-18" ui-view="" style="overflow-y:scroll;overflow:auto;max-height: 600px;"></div>
    </div>
</div>





